body {
    margin: 0;
    background-color: #7CA5B8;
}

h1 {
    text-align: center;
    margin-top: 0;
    position: relative;
    top: 20%;
    color: #A9DBB8;
    font-family: Arial;
    font-size: 3rem;
}

button {
    margin: 5px;
}

#calculator {
    position: relative;
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    padding: 10px;
    width: 40vh;
    height: 50vh;
    margin: 0 auto;
}

#display {
    border-color: black;
    border-style: solid;
    background-color: black;
    color: green;
    font-weight: bold;
    text-align: right;
    margin: 10px;
    flex-grow: 1;
    height: 3%;
    font-size: 1.5rem;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 9;
}

#num-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    flex-grow: 3;
}

#operator-buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.num-button, #clear {
    background-color: #82FF9E;
}

.operator-button {
    flex-grow: 1;
    background-color: #49416D;
    color: #A9DBB8;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

#zero-button {
    grid-column-start: 1;
    grid-column-end: 3;
}

.top {
    position: relative;
    background-color: #5D3DBE;
    height: 15vh;
    border-bottom-left-radius: 50% 29%;
    border-bottom-right-radius: 50% 29%;
    margin-bottom: 5vh;
}